.contacto{
  padding-top: 150px;
}

.form {
  background-color: black;
  text-align: center;
  width: 340px;
  width: 100%;
  padding: 60px 25px 50px;
}

.input-group {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form h2 {
  color: white;
  margin-bottom: 70px;
  font-size: 3rem;
  overflow-wrap: break-word;
  line-height: .8;
}

.form label {
  color: rgb(233, 233, 233);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.form input, textarea {
  padding: 14px 25px;
  border-radius: 15px;
  margin-bottom: 20px;
  background-color: #fff4ed;
  border: 2px solid #F0FAF1;
  color: #283629;
  outline: none;
  font-size: 1rem;
}

.form input::placeholder, textarea::placeholder {
  color: #cac1b5;
}

.btn-form {
  font-size: 16px;
  color: #FFFFFF;
  border: 0;
  border-radius: 15px;
  background-color: #ee8610;
  cursor: pointer;
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.btn-form:hover {
  background-color: #ee7b10;
}

/*----Animation enviando ------*/
.btn-form span {
  font-weight: 800;
}

.btn-form .punto-1 {
  animation: infinite 2.5s punto1;
}
.btn-form .punto-2 {
  animation: infinite 2.5s punto2;
}
.btn-form .punto-3 {
  animation: infinite 2.5s punto3;
}

@keyframes punto1 {
  0%{
    opacity: 1;
  }
  80%{
    opacity: 1;
  }
  90%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
@keyframes punto2 {
  0%{
    opacity: 0;
  }
  20%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  80%{
    opacity: 1;
  }
  90%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
@keyframes punto3 {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  60%{
    opacity: 1;
  }
  80%{
    opacity: 1;
  }
  90%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}


/*---------------- TABLE ---------------*/
@media (min-width: 770px){
  .form {
    padding-top: 80px;
  }

  .form h2 {
    font-size: 75px;
  }
}

/*---------------- TABLE ---------------*/
@media (min-width: 990px){

}